@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./scroll-indicator.module.css);

@layer utilities {
  .lazy-image-helper {
    content: "";
    animation-fill-mode: forwards;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

body h1 {
  font-size: 4rem;
}

body h2 {
  font-size: 2.8rem;
}

body h3 {
  font-size: 2rem;
}

body h4 {
  font-size: 1.4rem;
}

body p {
  font-size: 1rem;
  font-weight: 500;
}

body p.small {
  font-size: 0.85rem;
}
