@tailwind base;
@tailwind components;
@tailwind utilities;

body h1 {
  font-size: 4rem;
}

body h2 {
  font-size: 2.8rem;
}

body h3 {
  font-size: 2rem;
}

body h4 {
  font-size: 1.4rem;
}

body p {
  font-size: 1rem;
  font-weight: 500;
}

body p.small {
  font-size: 0.85rem;
}
